body{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
h1{
  color:green;
  text-transform: uppercase;
  width: 600px;
  padding:0;
}
h1 span{
  color:black;
}
header nav{
  width: 650px;
  float: right;
  margin-top: 0;
}
nav ul{
  list-style: none;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
}
nav ul li{
  line-height: 25px;
  display: inline-block;
  text-decoration: none;
  padding-right: 25px;
}
a{
  text-decoration: none;
  color: green;
}
.main-image img{
  width: 100%;
  height: 300px;
  border-top: 2px solid;
  border-top-color: green;
  border-bottom: 2px solid;
  border-bottom-color: green;
}
.welcome-section h4{
  font-size: 18px;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}
.top-section p{
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
}
.bottom-section{
  border-top: 1px solid;
  border-color: rgb(222, 219, 220);
}
.section-one,
.section-two,
.section-three{
    width: 100%/3;
    float: left;
}
.section-two{
  border-left: 1px solid;
  border-color: rgb(222, 219, 220);
}
.section-two{
  border-right: 1px solid;
  border-color: rgb(222, 219, 220);
}
.section-one h4{
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: auto;
}
.menu{
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  line-height: 18px;
}
.menu li{
  font-size: 16px;
  line-height: 18px;
  color: green;
  padding-right: 130px;
}
.section-two h4{
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  padding-left: 25px;
}
.review{
  padding-left:25px;
  padding-right: 40px;
}
.section-three h4{
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  padding-left: 25px;
}
.address{
  padding-left: 25px;
}
                /***footer***/
footer{
  border-top:3px solid;
  border-color: rgb(222, 219, 220);
  text-align: center;
  clear: both;
}
footer h4{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.438;
}
footer span {
  font-size: 16px;
  font-family: "Wisdom Script", cursive;
  color: rgb(119, 164, 102);
  line-height: 1.438;
}
